<?xml version="1.0" encoding="UTF-8"?>

<BaySickDAWSettings shortcutCreated="1" migratedFromRoaming="1" skipGlobalLockPrompt="0"
                    skipKitReplacePrompt="0">
  <RecentPatternColors>
    <Color argb="-14634310"/>
    <Color argb="-6744811"/>
    <Color argb="-5197648"/>
  </RecentPatternColors>
  <RecentProjects>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Untitled Project (10)"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Untitled Project (9)"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Untitled Project (8)"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Untitled Project (7)"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Untitled Project (6)"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Untitled Project (5)"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Untitled Project (4)"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Untitled Project (3)"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Untitled Project (2)"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Untitled Project"/>
  </RecentProjects>
</BaySickDAWSettings>
