<?xml version="1.0" encoding="UTF-8"?>

<BaySickDAWSettings shortcutCreated="1" migratedFromRoaming="1" skipGlobalLockPrompt="0"
                    skipKitReplacePrompt="0">
  <RecentPatternColors>
    <Color argb="-14634310"/>
    <Color argb="-6744811"/>
    <Color argb="-5197648"/>
  </RecentPatternColors>
  <RecentIRFiles>
    <File path="C:\Users\jeffm\Documents\BaySickDAW\Presets\BaySickNAMIR\IR\1960-V30.wav"/>
  </RecentIRFiles>
  <RecentNAMFiles>
    <File path="C:\Users\jeffm\Documents\BaySickDAW\Presets\BaySickNAMIR\NAM\NPN-1.nam"/>
  </RecentNAMFiles>
  <RecentProjects>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\DaBand2"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\DaBand"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Gitsum"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Untitled Project (8)"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Why"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Strife"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Bass test"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Untitled Project (7)"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\Gitsum pls"/>
    <Project path="C:\Users\jeffm\Documents\BaySickDAW\Projects\GETHARS"/>
  </RecentProjects>
</BaySickDAWSettings>
