Installer Requirements
*Installer must install the program with NSIS
*Installer should ask where you want to install
*Installer should create folders for "Templates", "Presets", "Samples" and "Saved Projects" 
*Installer needs to utilize info on Sample Download Architecture document to download via the links provided on the document
*Installer should prompt user to decide which Sample Packages they want to download with the options being:
 *Brass Package
 *Woodwinds Package
 *Keys Package
 *Strings Package
 *Percussion Package
*If installer is run again and it detects that the program is already installed prompt the user if they would like to choose which samples to download again